/HybridizerBasicSamples/1.Simple/HelloWorld/HelloWorld_CUDA/x64
/HybridizerBasicSamples/1.Simple/HelloWorld/HelloWorld_CUDA/generated-sources
/HybridizerBasicSamples/1.Simple/HelloWorld/HelloWorld/bin
/HybridizerBasicSamples/1.Simple/HelloWorld/HelloWorld/obj
/HybridizerBasicSamples/.vs
/HybridizerBasicSamples/*.opendb
/HybridizerBasicSamples/*.db
/HybridizerBasicSamples/1.Simple/HelloWorld/HelloWorld_CUDA/*.pdb
/HybridizerBasicSamples/1.Simple/Mandelbrot/Mandelbrot_CUDA/generated-sources
/HybridizerBasicSamples/1.Simple/Mandelbrot/Mandelbrot_CUDA/x64/Release/generated-sources/hybridizer.wrappers.cu.deps
/HybridizerBasicSamples/1.Simple/Mandelbrot/Mandelbrot_CUDA/x64/Release
/HybridizerBasicSamples/1.Simple/Mandelbrot/Mandelbrot/obj
/HybridizerBasicSamples/1.Simple/Mandelbrot/Mandelbrot/bin
/HybridizerBasicSamples/1.Simple/Mandelbrot/Mandelbrot_CUDA/vc140.pdb
/HybridizerBasicSamples/1.Simple/Printf/SimplePrintf/bin
/HybridizerBasicSamples/1.Simple/Printf/SimplePrintf/obj
/HybridizerBasicSamples/1.Simple/Printf/SimplePrintf_CUDA/generated-sources
/HybridizerBasicSamples/1.Simple/Printf/SimplePrintf_CUDA/x64
/HybridizerBasicSamples/1.Simple/Printf/SimplePrintf_CUDA/vc140.pdb
/HybridizerBasicSamples/1.Simple/Sobel/Sobel
*.pdb
bin
obj
/HybridizerBasicSamples/3.Maths/Newton/Newton_CUDA/generated-sources
/HybridizerBasicSamples/3.Maths/Newton/Newton_CUDA/x64
/HybridizerBasicSamples/2.Imaging/Sobel_CUDA/x64/Release/Sobel_CUDA.tlog
/HybridizerBasicSamples/2.Imaging/Sobel_CUDA/generated-sources
/HybridizerBasicSamples/2.Imaging/Sobel_CUDA/x64/Release
/HybridizerBasicSamples/2.Imaging/Sobel/Hybridizer.Runtime.CUDAImports.dll
/HybridizerBasicSamples/3.Maths/NaiveMatrix/NaiveMatrix/Hybridizer.Runtime.CUDAImports.dll
/HybridizerBasicSamples/3.Maths/Newton/Newton/Hybridizer.Runtime.CUDAImports.dll
/HybridizerBasicSamples/3.Maths/SharedMatrix/SharedMatrix/Hybridizer.Runtime.CUDAImports.dll
/HybridizerBasicSamples/4.Finance/BlackScholes/BlackScholes/Hybridizer.Runtime.CUDAImports.dll
/HybridizerBasicSamples/4.Finance/BlackScholesFloat4/BlackScholesFloat4/Hybridizer.Runtime.CUDAImports.dll
/HybridizerBasicSamples/Visual Studio 2015/Visualizers/attribcache140.bin
/HybridizerBasicSamples/3.Maths/ConjugateGradient/ConjugateGradient_CUDA/generated-sources
/HybridizerBasicSamples/3.Maths/ConjugateGradient/ConjugateGradient_CUDA/x64/Release
/HybridizerBasicSamples/Libraries/HybridizerCudaReduction/x64/Release
/HybridizerBasicSamples/x64/Release
/HybridizerBasicSamples/3.Maths/MonteCarloHeatEquation/MonteCarloHeatEquation_CUDA/x64/Release
/HybridizerBasicSamples/3.Maths/MonteCarloHeatEquation/MonteCarloHeatEquation_CUDA/generated-sources
/HybridizerBasicSamples/5.Vendor library integration/MatrixCublas/MatrixCublas_CUDA/generated-sources
/HybridizerBasicSamples/5.Vendor library integration/MatrixCublas/MatrixCublas_CUDA/x64/Release
/HybridizerBasicSamples/2.Imaging/Sobel/Sobel_CUDA/generated-sources
/HybridizerBasicSamples/2.Imaging/Sobel/Sobel_CUDA/x64/Release
/HybridizerBasicSamples/Report20170706-0042_ModuleSummary.csv
/HybridizerBasicSamples/Report20170706-0042_LineSummary.csv
/HybridizerBasicSamples/Report20170706-0042_HeaderSummary.csv
/HybridizerBasicSamples/Report20170706-0042_FunctionSummary.csv
/HybridizerBasicSamples/Report20170706-0042_CallTreeSummary.csv
/HybridizerBasicSamples/Report20170706-0042_CallerCalleeSummary.csv
/HybridizerBasicSamples/Report20170706-0042.vspx
/HybridizerBasicSamples/Mandelbrot170706.vspx
/HybridizerBasicSamples/Mandelbrot170706.vsp
/HybridizerBasicSamples/Mandelbrot1.psess
/HybridizerBasicSamples/Mandelbrot.psess
/HybridizerBasicSamples/1.Simple/Mandelbrot/Report20170706-0042.diagsession
