<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile
    HybridType = ""
    DllFullPath="BlackScholes.exe"
    PdbFullPath="BlackScholes.pbb"
    ResultFileName="result.xml"
    GenerateLineInformation="true"
    UseFunctionPointers="true"
    GenerateAllFile="true"
    GenerateHiddenStubs="true"
    UseHybridArrays="false"
    EnableExceptions="false"
    DelegateSupport="false"
    LinesPerFile="0"
    HybridizerJitterServicePath="/opt/altimesh/hybridizer-essentials/bin/libPTXJitterService.9.1.so"
    HybridizerJitterServiceOptions="--gpu-architecture=auto;-G;--relocatable-device-code=false;-lineinfo;--std=c++11;-DNO_EXCEPTION"
    >
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor
        FlavorName = "CUDA"
        GenerateCWrapper="false"
        BuiltInFileNames="/opt/altimesh/hybridizer-essentials/include/hybridizer.cuda.builtins"
    />
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>